.list-clientes {
  height: 100%;
  width: 25%;
  overflow-y: auto;
  border-radius: 25px;
  background-color: rgb(0, 0, 0, 0.95);
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.cliente-item {
  height: 70px;
  text-align: center;
  padding-top: 10px;
}

.button-item {
  border: none;
  background: #414040;
  color: rgb(216, 216, 216);
  font-weight: bold;
  width: 170px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
}

.buttonBack {
  background: #414040;
  border: none;
  width: 25%;
  height: 6vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: bold;
  color: rgb(216, 216, 216);
}
