.table-clientes {
  height: 100%;
  width: 50%;
  overflow-y: auto;
  border-radius: 25px;
  background-color: rgb(0, 0, 0, 0.95);
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.tableCli thead{
  width:100%;
  font-size: 20px;

  background-color: rgb(104, 100, 100);
  color: #fff;
}

.button-item {
  border: none;
  background: rgb(197, 193, 193);
  color: rgb(22, 22, 22);
  font-weight: bold;
  width: 170px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
}
.button-item:hover{
  background: #fefffe;
  color:rgba(34, 33, 33, 0.849)
}
.button-excluirItem {
  border: none;
  background:rgb(248, 157, 157);
  color: #000;
  font-weight: bold;
  width: 170px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
}
.button-excluirItem:hover{
  background-color: rgb(253, 56, 56);
  color: rgb(255, 255, 255);
}
.buttonBack {
  background: #414040;
  border: none;
  width: 25%;
  height: 6vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: bold;
  color: rgb(216, 216, 216);
}
.buttonBack:hover{
  background: #fefffe;
  color:rgba(34, 33, 33, 0.849)
}
