.div-gerarConta {
    background-color: rgb(0, 0, 0,.95);
    box-shadow: 0 0 14px 0 rgba(0 , 0 , 0, 0.02);
    border-radius: 25px;
    padding: 15px;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 40%;
   
  }

.div-formaPgto{
  width: 50%;
  margin-bottom: 5px;
}
.div-qtdeParcela{
  width: 50%;
  margin-bottom: 5px;
}
.div-qtdeParcela .input-qtdeParcela{
    width: 16%;
}
.div-valorParcela{
  width: 50%;
  margin-bottom: 5px;
}
.div-valorParcela .input-valorParcela{
  width: 30%;
}