
.div-infoServico{
  width: 70%;
  border-radius: 30px;
  background-color: rgb(0, 0, 0, 0.95);
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  
  align-items: center;
  align-content: center;
}
/*Div onde estão as informações*/
.div-infoBasica{
  margin-top: 20px;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  align-items: flex-start;
  background-color: rgb(230, 230, 230);
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 5px;
}
.div-infoBasica p{
text-align: left;
}
.div-infoBasica .p-funcionario{
width: 30%;
}
.div-infoBasica .p-carro{
width: 100%;
}
.div-infoBasica .p-dtInicio{
width: 55%;
}
.div-infoBasica .p-dtFim{
width: 40%;
}
.div-infoBasica .p-descricao{
width: 100%;
}
.div-infoBasica .p-maoObra{
width: 100%;
}
.div-infoBasica .p-valorTotal{
width: 100%;
text-align: right;
}
.div-infoBasica .p-cliente{
  width: 40%;
  text-align: right;
  }
/*Tabela de peças*/
.tableSerPecas{
  width: 100%;
}
.tableSerPecas thead{
  width:100%;
  font-size: 20px;

  background-color: rgb(104, 100, 100);
  color: #fff;
}

.tableSerPecas tbody{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.button-voltar {
  background: rgb(140, 140, 140);
  color: rgb(216, 216, 216);
  border: none;
  width: 350px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
/*Div dos botões*/
.div-buttons{
  margin-top: 20px;
  width: 100%;
}
.div-buttons .button-acao{
  background: #414040;
  color: rgb(216, 216, 216);
  border: none;
  width: auto;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
  margin: 5px;
  font-weight: bold;
}
.div-buttons .button-acao:hover{
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}
.button-voltar:hover{
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}