.div-peca {
    background-color: rgb(0, 0, 0,.95);
    box-shadow: 0 0 14px 0 rgba(0 , 0 , 0, 0.02);
    border-radius: 25px;
    padding: 30px;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 40%;
   
  }
.form-peca{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.form-peca input{
    background-color: transparent;
    color:#fff;
    color: rgb(212, 212, 212);
    border: 0;
    border-bottom: 3px solid rgb(255, 255, 255);
}
.button-peca{
    margin-top: 3vh;
    border: none;
    width: 20vw;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 25px;
    cursor: pointer;

    background: #63b86a;
    font-weight: bold;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background 0.5s;
}
.button-voltarPeca{
    margin-top: 3vh;
    border: none;
    width: 20vw;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 25px;
    cursor: pointer;

    background: #a0a0a0;
    font-weight: bold;
    color: rgb(68, 68, 68);
    cursor: pointer;
    transition: background 0.5s;
}

.button-voltarPeca:hover{
    background: #eeeeee;
    color:rgba(27, 27, 27, 0.849)
}
.button-peca:hover{
    background: #044604;
    color:rgba(248, 240, 240, 0.849)
}
.input-descricao{
    margin-left: 2vh;
}
/*Tabela*/
.table-peca{
    margin-top: 10px;
}
.table-peca thead{
width:100%;
font-size: 20px;
text-align: center;
background-color: rgb(104, 100, 100);
color: #fff;
}
.btnExcluirPeca{
    border: none;
    background:rgb(248, 157, 157);
    color: rgb(0, 0, 0);
    font-weight: bold;
    width: 170px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 25px;
    cursor: pointer;
}
.btnExcluirPeca:hover{
    background-color: rgb(253, 56, 56);
    color: rgb(255, 255, 255);
}
.div-pesquisa{
    margin-top: 20px;
    display: flex;
    flex-direction: row;

}
.div-pesquisa .button-pesquisa{
    background-image: url('./search.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 23px;
    height: 22px;
}
.div-pesquisa .button-pesquisa:hover{
    background-image: url('./search.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 23px;
    height: 22px;
    opacity: 0.8;
}