
.div-marca {
    background-color: rgb(0, 0, 0,.95);
    box-shadow: 0 0 14px 0 rgba(0 , 0 , 0, 0.02);
    border-radius: 25px;
    padding: 30px;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 40%;
   
  }
.form-marca{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.form-marca input{
    background-color: transparent;
    color:#fff;
    color: rgb(212, 212, 212);
    border: 0;
    border-bottom: 3px solid rgb(255, 255, 255);
}
.button-marca{
    margin-top: 3vh;
    border: none;
    width: 20vw;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 25px;
    cursor: pointer;

    background: #414040;
    font-weight: bold;
    color: rgb(216, 216, 216);
    cursor: pointer;
    transition: background 0.5s;
}

.button-marca:hover{
    background: #fefffe;
    color:rgba(34, 33, 33, 0.849)
}
.input-descricao{
    margin-left: 2vh;
}
/*Tabela*/
.table-marca{
    margin-top: 10px;
}
.table-marca thead{
width:100%;
font-size: 20px;
text-align: center;
background-color: rgb(104, 100, 100);
color: #fff;
}
.div-pesquisa{
    margin-top: 20px;
    display: flex;
    flex-direction: row;

}

/*Modal*/
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
  }