#tela{
    background: darkslategray;
}
#app{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 30px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #0000;
    
}
#formulario{
    width: 70%;
    background-color: rgb(0, 0, 0,.95);
    box-shadow: 0 0 14px 0 rgba(0 , 0 , 0, 0.02);
    border-radius: 25px;
    padding: 30px;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 60vw;
    height: 80%;
   
}
.form-funcionario{
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: flex-start;
}
.form-funcionario p strong{
    font-size: 20px;
    color:  #ffffff;
}
.form-funcionario p{
    margin-top: 7px;
}
.form-funcionario h1{
    font-size: 20px;
    text-align: center;
    display: block;
    color:  #ffffff;
}
.form-funcionario{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: flex-start;
}
.form-funcionario input{
    background-color: transparent;
    color:  #ffffff;
}

.form-funcionario .input-block {
    margin-right: 3%;
    margin-top: 20px;
}

.form-funcionario .input-block label{
    color: #e0dfdf;
    font-size: 14px;
    font-weight: bold;
    display: block;
}
.form-funcionario .block-data{width: 25%;}
.form-funcionario .block-cpf{width: 30%;}
.form-funcionario .block-fone{width: 50%;}
.form-funcionario .block-nome{width: 66%;}
.form-funcionario .block-email{width: 64%;}
.form-funcionario .block-observacao{width:60%;}
.form-funcionario .block-codigo input{text-align: center;}
.form-funcionario .block-senha{width: 30%;}
.form-funcionario .block-sexo{
    width: 93%;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.form-funcionario .block-sexo label{width: 15%;}
.form-funcionario .block-unidade label{width: 15%;}
.form-funcionario .block-sexo #sexo{
    width: 20%; 
    margin-left: 5%; 
}

.form-funcionario .block-formaPgto label{width: 25%;}
.form-funcionario .input-block input{
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: rgb(212, 212, 212);
    border: 0;
    border-bottom: 3px solid #ccc;
  
}

.form-funcionario div{
    width: 100%;
    display: block;
}
.form-funcionario button[type=submit]{
    width: 100%;
    border: 0;

    margin-top: 5px;
    background: #414040;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(216, 216, 216);
    cursor: pointer;
    transition: background 0.5s;
}
#btnFormAlt{
    width: 60%;
}
.div-funcionario button[type=submit]:hover{
    background: #fefffe;
    color:rgba(34, 33, 33, 0.849)
}

.div-funcionario button[type=button]{
    width: 100%;
    border: 0;
    margin-top: 30px;
    color:#ffff;
    background:#6b6b6b;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.5s;
}

.div-funcionario button[type=button]:hover{
    background-color: #eeeeee;
    color: rgba(44, 42, 42, 0.555);
}
.form-funcionario #mensagem{
    margin-top: 20px;
    width: 100%;
    background-color: #ffe6e6;
    color: #5f0404;
    border-radius: 10px;
}
.form-funcionario #mensagem p{
    margin-top: 10px;
    margin-left: 10px;
}

.form-funcionario #formSenha{
    justify-content: center;
}
.form-funcionario #btnFormAlt{
    width:70%;
}




