#app{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 30px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }


.formularioCli{
    width: 70%;
    background-color: rgb(0, 0, 0,.95);
    box-shadow: 0 0 14px 0 rgba(0 , 0 , 0, 0.02);
    border-radius: 5px;
    padding: 30px;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

}
.formularioCli p strong{
    font-size: 20px;
    color:  #ffffff;
}
.formularioCli p{
    margin-top: 7px;
}
.formularioCli h1{
    font-size: 20px;
    text-align: center;
    display: block;
    color:  #ffffff;
}
.formularioCli form{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: flex-start;
}
.formularioCli input{
    background-color: transparent;
}

.formularioCli form .input-block {
    margin-right: 3%;
}
.formularioCli form .input-block{
    margin-top: 20px;
}
.formularioCli form .input-block label{
    color: #e0dfdf;
    font-size: 14px;
    font-weight: bold;
    display: block;
}
.formularioCli .blockCli-tpContato{
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: flex-start;
}
.formularioCli .blockCli-tpContato label{width: 15%;}
.formularioCli .blockCli-foneContato{width: 30%;}
.formularioCli .blockCli-cpf{width: 22%;}
.formularioCli .blockCli-cep{width: 30%;}
 .blockCli-fone{width: 50%;}
.formularioCli .blockCli-nome{width: 100%;}
.formularioCli .blockCli-email{width: 70%;}
.formularioCli .blockCli-cep{width: 20%;}
.formularioCli .blockCli-rua{width: 45%;}
.formularioCli .blockCli-bairro{width: 45%;}
.formularioCli .blockCli-cidade{width: 60%;}
.formularioCli .blockCli-uf{width: 10%;}

.formularioCli .blockCli-sexo{
    width: 93%;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: flex-start;
}
.formularioCli .blockCli-sexo label{width: 15%;}
.formularioCli .blockCli-sexo #sexo{
    width: 20%; 
    margin-left: 5%; 
}
.formularioCli form .input-block input{
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: rgb(212, 212, 212);
    border: 0;
    border-bottom: 3px solid #ccc;
  
}

.formularioCli form div{
    width: 100%;
    display: block;
}
.formularioCli form button[type=submit]{
    width: 100%;
    border: 0;

    margin-top: 5px;
    background: #414040;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(216, 216, 216);
    cursor: pointer;
    transition: background 0.5s;
}
#btnFormAlt{
    width: 60%;
}
.formularioCli button[type=submit]:hover{
    background: #fefffe;
    color:rgba(34, 33, 33, 0.849)
}

.formularioCli button[type=button]{
    width: 100%;
    border: 0;
    margin-top: 30px;
    color:#ffff;
    background:#6b6b6b;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.5s;
}

.formularioCli button[type=button]:hover{
    background-color: #eeeeee;
    color: rgba(44, 42, 42, 0.555);
}
.formularioCli .mensagemCli{
    margin-top: 20px;
    width: 100%;
    background-color: #ffe6e6;
    color: #5f0404;
    border-radius: 10px;
}
.formularioCli .mensagemCli p{
    margin-top: 10px;
    margin-left: 10px;
}

.formularioCli #formSenha{
    justify-content: center;
}
.formularioCli form #btnFormAlt{
    width:70%;
}

/**************Cadastro de contato no formulario de cliente******************/
.cadastroCliContato{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: flex-start;

}

.cadastroCliContato button[type=button]{
    width: 100%;
    border: 0;
    margin-top: 30px;
    background:#63f19e;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
}
.cadastroCliContato .input-block label{
    color: #9a9a9a;
    font-size: 14px;
    font-weight: bold;
    display: block;
}
.cadastroCliContato .input-block input{
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: #666;
    border: 0;
    border-bottom: 3px solid #ccc;
  
}
.cadastroCliContato #btnFormContato {
    width: 70%;
    border: 0;
    margin-top: 30px;
    margin-left:17%;
    background:#414040;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
}
.formularioCli #btnFormContato:hover{
    background: #fefffe;
    color: rgba(44, 42, 42, 0.555);
}
.cadastroCliContato #divTable{
    width: 100%;
}
#divTable{
    margin-top: 20px;
    text-align: center;
}
#tabelaCont{
    width:100%;
    font-size: 20px;
    border-collapse: collapse;
}
#tabelaCont td{
    padding:10px;
}
#tabelaCont thead,tbody{
    width: 100%;
}
#tabelaCont thead{
    background-color: rgb(104, 100, 100);
    color: #fff;
}
#tabelaCont tbody{
    background-color: rgb(118, 122, 121);
}
#tabelaCont tbody tr:hover{
    background-color: rgb(90, 87, 87);
}
.cadastroCliContato #mensagemContato{
    margin-top: 20px;
    width: 100%;
    background-color: #ffe6e6;
    color: #5f0404;
    border-radius: 10px;
}
.cadastroCliContato #mensagemContato p{
    margin-top: 10px;
    margin-left: 10px;
}