.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 50vw;
  height: 85vh;
  background-color: rgb(0, 0, 0, 0.95);
  color: white;
  border-radius: 25px;
}

.button-info-cliente {
  background: #414040;
  color: rgb(216, 216, 216);
  border: none;
  width: 150px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
  margin: 5px;
  font-weight: bold;
}
.button-info-cliente:hover{
  background: #fefffe;
  color:rgba(34, 33, 33, 0.849)
}
.table-carro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 25px;
}
.table-delete-carro{
  background:rgb(248, 157, 157);
  color: #000;
  border: none;
  width: 80px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
}
.table-delete-carro:hover{
  background-color: rgb(253, 56, 56);
  color: rgb(255, 255, 255);
}
.table-edit-carro {
  background: #414040;
  color: rgb(216, 216, 216);
  border: none;
  width: 80px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
}
.table-delete-carro button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
.table-edit-carro:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(43, 41, 41);
}
.table-edit-carro button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
.table-edit-carro button:disabled,
button[disabled]:hover{
  background-color: #cccccc;
  color: #666666;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  color: #fff;
  border: 5px solid rgb(187, 190, 187);
  background-color: #575555;
  text-align: center;
  margin: auto;
  width: 350px;
  height: 180px;
}
.modal-content-text{
  font-size: 20px;
  width:100%;
  padding: 1%;
}
.modal-content-btns{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content button{
  padding: 12px;
}
.btn-confirma{
  background-color: rgb(54, 201, 110);
  border: none;
  margin-right: 10%;
  width:90px;
  transition: background 0.5s;
  border-radius: 10px;
}
.btn-confirma:hover{
  background-color: rgb(25, 97, 54);
  color:#fff;
}
.btn-cancela{
  background-color: rgb(236, 111, 111);
  border: none;
  width:90px;
  transition: background 0.5s;
  border-radius: 10px;
}
.btn-cancela:hover{
  background-color: rgb(226, 31, 31);
  color: #fff;
}