.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 50vw;
  height: 85vh;
  background-color: rgb(0, 0, 0, 0.95);
  color: white;
  border-radius: 25px;
}

.button-info-cliente {
  background: #414040;
  color: rgb(216, 216, 216);
  border: none;
  width: 150px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
  margin: 5px;
  font-weight: bold;
}

.table-carro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 25px;
}

.table-edit-carro {
  background: #414040;
  color: rgb(216, 216, 216);
  border: none;
  width: 80px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
}
